.footer {
  height: 100px;
  align-content: center;
  text-align: center;
  @media (max-width: 450px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_texte {
    font-size: 18px;
    @media (max-width: 450px) {
      font-size: 12px;
      width: 100px;
    }
  }
}
