.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;

  &_logo {
    width: 12%;
  }

  &_btn {
    background-color: #ffebee; // Couleur de fond initiale
    color: #3a0927; // Couleur du texte
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease; // Transition douce de 0,5 seconde$
    &:hover {
      background-color: #d4849c; // Couleur de fond au survol
    }
  }
}
