.nav {
  display: flex;

  align-items: center;

  &_logo {
    width: 15%;
  }

  &_cv {
    font-size: 40px;
    border: 2px solid;
    border-radius: 30%;
    width: 70px;
    text-align: center;
    align-content: center;
    width: 30%;
    cursor: pointer;
  }
}
