.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 15px 15px;

  &_logo {
    width: 7%;
  }

  &_btn {
    background-color: #ffebee;
    color: #3a0927;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #d4849c;
    }
  }
}
