body {
  font-family: "Montserrat", serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Vous pouvez ajuster la hauteur selon vos besoins */
  overflow: hidden;

  .background-overlay {
    background-image: url("../assets/backgroundimage.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; /* Réglez l'opacité ici */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Mettre la superposition au-dessus de l'élément parent */

    h1,
    p {
      color: #333; /* Couleur du texte */
      z-index: 2; /* Assurez-vous que le texte soit au-dessus de l'image de fond */
      margin: 0.5rem; /* Ajoute un petit espace entre les paragraphes */
    }
  }
}
