body {
  font-family: "Montserrat", serif;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 15px 15px;

  &_logo {
    width: 55px;
  }

  &_btn {
    background-color: #ffd6dc;
    color: #3a0927;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #d4849c;
    }
  }
}

.presentation {
  position: relative;
  height: 615px;
  overflow: hidden;
  background-image: url("../assets/general/backgroundimage.webp");
  background-size: cover;
  background-position: center;

  @media (max-width: 780px) {
    position: unset;
    width: unset;
    height: unset;
    overflow: unset;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1,
  h2,
  p {
    z-index: 2;
    width: 80%;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
  }
}
