.projects {
  text-align: center;
  background-color: #ffd6dc;
  height: 615px;
  padding: 20px;

  @media (max-width: 780px) {
    height: unset;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
    margin-top: 0;
    padding-top: 2rem;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: #333;
      margin: 0.5rem auto;
    }
  }

  .projects_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
  }
}
